body {
background-color: #B5651D;
}
#heading {
font-size: 3em;
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 500;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    position: fixed;
}
#navigationBar{
position: fixed;
padding-left: 100px;
}
li {
    float: left;
    border: 2px solid black;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
#form {
font-size: 1.5em;
display: inline;
font-weight: bolder;
}

label{
height: 139.33px;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.blue{
  background-color: blue;
}
